@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic body styles */
body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
